/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box;
    max-width:100%;
    font-family: 'Open Sans Condensed', sans-serif;
    /* border:1px solid grey; */
}

html{
    font-size:62.5%;
}
body{
    background: #c9d2d9;
    font-size:2.5rem;
    color:#091009;
    line-height:1.5;
}
section{
    padding:4% 0;
    width:90%;
    margin:0 auto;
}
    /* header */

header{
    background: #7a93a0;
}

h1{
    font-size:5rem;
    margin-left: 5%;
    font-family:'IBM Plex Serif', serif;
    font-weight: 600;
    
}
nav{
    display:flex;
    width: 45%;
    margin: 0 5%;
}
a{
    text-decoration: none;
    color: #091008;
    background:#3e563e;
    padding: 2%;
    margin: 2% 0;
}
a:hover{
    background:#090e08;
    color: #c9d2d8;
}

/* profile and description */

.profile{
    display:flex;
    width:100%;
    /* border: 3px solid red; */
    justify-content: space-between;
}

.profilePic{
    width:20%;
    margin: 0 0 0 12%;
    border: 10spx solid #748e9b;
}

.title{
    display: flex;
    padding: 2%;
    margin: 2%;
    width: 30%;
    flex-wrap: wrap;
    /* border: 3px solid green; */
    justify-content: center;
    align-content: center;
}

h2 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}

.p1{
  font-size: 3rem;
  text-align: center;
  width:  100%; 
}
.paragraph {
    width:40%;
}

/* img and titles */

.imgSmall {
    display: flex;
    justify-content: space-around; 
}

.imgSmall img {
    background: #ced9df;
    width: 20%;
    height: 20vh;
}

.words{
    display: flex;
    
    justify-content: space-around;
    
}

.words p {
   background:#657075; 
   width: 20%;
   font-size: 2.5rem;
   text-align: center;
}

/* footer */
.foot{
    display:flex;
    width: 100%;
}

footer{
    width: 100%;
    display: flex;
    /* border: 3px solid purple; */
    text-align: center;
    background: #1e2e21;
    /* flex-wrap: wrap; */
}
h3{
    margin: 2% auto;
    font-size: 5rem;
    align-items: center;
    color:#c9d2d9;
    font-family: 'IBM Plex Serif', serif;
    
    /* justify-content: center; */
}

footer a{
    margin:1% auto;
    font-size: 3.5rem;
}





